[user]
        name = {{ .fullname }}
        email = {{ .git_email }}
        signingkey = "Alexandre Croteau"
[alias]
        br = branch
        c = commit -v
        co = checkout
        cob = checkout -b
        cp = cherry-pick
        d = diff
        dd = diff --cached
        l = log --oneline --graph
        lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
        pb = pull --rebase
        pl = pull
        ps = push
        s = status
[color]
        branch = auto
        diff = auto
        status = auto
        ui = true
[commit]
        gpgsign = true
[color]
        ui = auto
[core]
        editor = code --wait
        pager = delta
[credential]
        helper =
        helper = manager
[credential "https://github.com"]
        username = alexandre-croteau
[credential "https://ghcr.io"]
        provider = github
[credential "https://dev.azure.com"]
        useHttpPath = true
[delta]
        features = bluloco
        dark = true
[diff]
        tool = vscode
        colorMoved = default
[difftool]
        prompt = false
[difftool "vscode"]
        cmd = code --wait --diff $LOCAL $REMOTE
[filter "lfs"]
        required = true
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
{{- if eq .chezmoi.os "windows" }}
[gpg]
        program = "{{ .chezmoi.homeDir }}/scoop/apps/gpg4win/current/GnuPG/bin/gpg.exe"
{{- end }}
[help]
        format = man
        autocorrect = 1
[hub]
        protocol = https
[include]
        path = ~/.config/delta/themes.gitconfig
[init]
        defaultBranch = main
[interactive]
        diffFilter = delta --color-only
[merge]
        tool = vscode
        conflictstyle = diff3
[mergetool]
        keepBackup = false
[mergetool "vscode"]
        cmd = code --wait $MERGED
[pull]
        rebase = interactive
[push]
        gpgSign = if-asked
        autoSetupRemote = true
        default = simple
        autoSetupRemote = true
[rebase]
        autoStash = true
[remote "origin"]
        prune = true
[safe]
        directory = *
[tag]
        gpgsign = true
[url "https://github.com/cascades-cti"]
        insteadOf = ssh://git@github.com/cascades-cti
