encryption = "gpg"

{{ $email := promptStringOnce . "email" "Email address" "<email>@<domain>" -}}

[gpg]
    recipient = "Alexandre Croteau"
    args = ["--quiet"]

[interpreters.ps1]
    command = "pwsh"
    args = ["-NoLogo"]

[data]
    fullname = "Alexandre Croteau"
    email = {{ $email | quote }}
    git_email = "5752494+alexandre-croteau@users.noreply.github.com"

[diff]
    command = "delta"
    args = "--color-only"
    pager = "delta"
