#!/bin/zsh

echo "› Installing Homebrew taps, brews and casks..."

{{ $taps := list
  "homebrew/aliases"
  "homebrew/bundle"
  "homebrew/command-not-found"
  "homebrew/services"
-}}

{{ $brews := list
  "ca-certificates"
  "openssl@3"
  "python@3.12"
  "archey4"
  "python@3.11"
  "awscli"
  "azure-cli"
  "btop"
  "pcre2"
  "chezmoi"
  "libnghttp2"
  "curl"
  "docker"
  "folly"
  "fizz"
  "wangle"
  "fb303"
  "edencommon"
  "eza"
  "nettle"
  "unbound"
  "gnutls"
  "leptonica"
  "ffmpeg"
  "fzf"
  "gh"
  "git"
  "git-delta"
  "gnu-sed"
  "libgpg-error"
  "libgcrypt"
  "libksba"
  "pinentry"
  "gnupg"
  "go"
  "jq"
  "kubernetes-cli"
  "lazydocker"
  "lazygit"
  "neovim"
  "nushell"
  "nvm"
  "oh-my-posh"
  "pandoc"
  "pinentry-mac"
  "pipx"
  "podman"
  "ripgrep"
  "terraform-docs"
  "tfenv"
  "tflint"
  "tmux"
  "watchman"
  "wget"
  "yarn"
  "zsh-autosuggestions"
  "zsh-completions"
-}}

{{ $casks := list
  "blackhole-2ch"
  "devtoys"
  "dotnet-sdk"
  "firefox"
  "font-fira-code-nerd-font"
  "font-hasklug-nerd-font"
  "git-credential-manager"
  "google-chrome"
  "google-cloud-sdk"
  "google-drive"
  "iina"
  "iptvnator"
  "keka"
  "kitty"
  "ledger-live"
  "microsoft-auto-update"
  "microsoft-edge"
  "plex-media-server"
  "podman-desktop"
  "postman"
  "powershell"
  "private-internet-access"
  "proton-drive"
  "signal"
  "spotify"
  "subler"
  "transmission"
  "visual-studio-code"
-}}

brew bundle --cleanup --no-lock --file=- <<EOF
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF

echo "Done."
